*.log
*.zip
*.rar
*.jpg
*.bmp
*.png
*.JPG
*.gif
*.pdf
*.svg
!/local/templates/**/*.svg
*.swf
*.gz
*.enc
*.csv
*.sql
*.mp4
*.mov
*.txt
!robots.txt
google*.html
sitemap*.xml
yandex*.html
.DS_Store
Thumbs.db

.git/
.idea/
.cache/
.vscode/
bower_components/
bitrix_personal/
cache/
cgi-bin/
doc/
docs/
logs/
node_modules/
photos/
plugins/
siteadm/
tmp/
upload/
uploads/

lib/
!/local/templates/**/lib

modules/
!/local/templates/**/modules
!/bitrix/templates/**/modules

/bitrix/*
!/bitrix/php_interface
/bitrix/php_interface/dbconn.php
!/bitrix/templates
bitrix/templates/landing24

/images/*
/image/*
