.footer-navigation {
  &__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    margin: 0 auto;

    @media (max-width: $tablet-max-width) {
      margin: 0;
    }

    &--desktop {
      @media (max-width: $mobile-max-width) {
        display: none;
      }
    }
  }
  
  &__item {
    &--current {
      color: $colorRed;
      
      cursor: default;
    }
  }

  &__link {
    display: flex;
    
    .footer-navigation__item--current & {
      &:hover {
        opacity: 1;
      }
    }
  }
}
